
<!-- ADDING CSS STYLESHEET  -->
<link rel="stylesheet" type="text/css" href="/css/userProfile/home.css">
<body>

    <!-- TASK DETAILS : CREATING THE FORM TO ADD TASK -->

    <div class="task-details">
        <form action='/user/add?email=<%= locals.user.email%>' method="post" class="task-details" id="add-task-form">

            <!-- DESCRIPTION COLUMN  -->

            <div class="desc form-col">
                <label for="descp" class="form-heading">Description</label>
                <input id="descp" type="text" required="True" placeholder="What do you need to do ?" name="description">
            </div>

            <!-- CATEGORY COLUMN  -->

            <div class="category form-col">
                <label class="form-heading" for="catg">
                    Category
                </label>
                <select name="category" id="catg">
                    <option value="">Select a category</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <!-- DUE DATE COLUMN  -->

            <div class="d_date form-col">
                <label for="dDate" class="form-heading">Due Date</label>
                <input type="date" id="dDate" name="d_date">
            </div>

        </form>


        <div class="button">

            <!-- ADD BUTTON  -->

            <button type="submit" class="add-button" form="add-task-form">
                <i class="fa-duotone fa-plus"></i>
                   <span>Add Task</span>
            </button>


            <!-- DELETE BUTTON  -->

            <button type="submit" form="selected-task-is" class="delete-button">
                <i class="fa-solid fa-trash-can"></i>
                    <span>Delete Tasks</span>
            </button>

        </div>
    </div>

    <!-- DISPLAYING THE ADDED TASK  -->

    <form id="selected-task-is" action="/user/delete" method="post">
        <div class="added-task">
            <ul class="task-list">
                <% for(let i of task){%>
                    <li class="task-list-items">

                        <!-- CHECKBOX  -->
                        <div class="checkbox-container">
                            <input id="checkbox" type="checkbox" name="id" value="<%= i.id%>">
                        </div>

                        <div class="display-task">

                            <!-- DISCRIPTION DISPLAY  -->
                            <p class="display-desc">
                                <%= i.description%>
                            </p>

                            <!-- DATE DISPLAY  -->
                            <p class="display-d_date">
                                <i class="fa-regular fa-calendar"></i>

                                <!-- FORMATTING DATE INTO CORRECT FORMAT  -->

                                <%{%>
                                    <% let m=["January", "February" , "March" , "April" , "May" , "June" , "July"
                                        , "August" , "September" , "October" , "November" , "December" ]; %>
                                        <%= m[i.d_date.getMonth()]%>
                                            <%= i.d_date.getDate()%>,
                                                <%= i.d_date.getFullYear()%>
                                                    <%}%>

                            </p>
                            </div>
                            <!-- CATEGORY DISPLAY  -->

                            <div class="category-container">
                            <%if(i.category!=null){%>
                                <p class="display-category">
                                    <span class="category-type">
                                        <%= i.category%>
                                    </span>
                                </p>
                                <%}%>
                        </div>
                    </li>
                    <%} %>
            </ul>
        </div>
    </form>

    <!-- ADDING JAVASCRIPT ASSET  -->

    <script type="text/javascript" src="/js/index.js"></script>

    <!-- ADDING FONTAWESOME AS SCRIPT  -->

    <script src="https://kit.fontawesome.com/e784f7575e.js" crossorigin="anonymous"></script>
</body>

